extends layout

block content
  h1(id= "titleFont")= title
  p
    a(href='/rocket/signup') New Player
  p 
    a(href='/rocket/login') Login
  p
  table
    thead
      tr
        th ID
        th(id= "nameColumn") Name
        th(id= "gamesPlayedColumn") Games Played
        th(id= "winsColumn") Wins
    tbody
      for player in allPlayers
        tr
          td= player._id 
          td= player.name
          td= player.gamesPlayed
          td=player.gamesWon