extends layout

block content
  h1= title
  p
    a(href='/rocket/signup') New Player
  p 
    a(href='/rocket/login') Login
  p
  table
    thead
      tr
        th ID
        th Name
        th Games Played
        th Wins
    tbody
      for player in allPlayers
        tr
          td= player._id 
          td= player.name
          td= player.gamesPlayed
          td=player.gamesWon